APScheduler==3.1.0
beautifulsoup4==4.4.1
certifi==2016.2.28
cssselect==0.9.1
Django==1.9.7
elasticsearch==2.3.0
feedfinder2==0.0.4
feedparser==5.2.1
funcsigs==1.0.2
futures==3.0.5
idna==2.1
image==1.5.3
jieba3k==0.35.1
lxml==4.6.2
-e git+https://github.com/news-ai/newspaper@95297299b0a4db17e32b4a2d67533742de0ed876#egg=newspaper-origin_python-2-head
nltk==3.2.1
Pillow==3.2.0
pymongo==3.2.2
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
requests==2.10.0
requests-file==1.4
six==1.10.0
tldextract==2.0.1
tzlocal==1.2.2
urllib3==1.15.1
wheel==0.24.0
